body {
	font-family: 'Lucida Bright', serif;
	margin: 0px;
}

header {
	background-color: #ADA0A6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	background-color: #D2CBCB;
}

svg {
	fill: white;
}

.purple {
	fill: #301934;
}

.days {
	color: #7D938A;
}

.username {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 20px;
}

.username > p {
	margin-left: 6px;
	margin-right: 6px;
	color: #301934;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
}

.nav {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.nav > p {
	margin-left: 7px;
	margin-right: 12px;
	font-size: 17px;
	color: #301934;
}

#share {
	color: white;
}

.download,
.app {
	margin-left: 20px;
}

h1 {
	font-size: 40px;
	margin: 0px;
	color: #301934;
}

h2 {
	margin: 0px;
	margin-left: 30px;
	padding-top: 25px;
	color:  #301934;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));;
	grid-gap: 20px;
	padding: 20px;
}

.dog-card {
	box-shadow: 3px 3px 5px grey;
	background-color: white;
	width: 374px;
}

.photo {
	position: relative;
}

.dog-photo {
	height: 250px;
	display: block;
}

.heart {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
}

.name > p {
	display: flex;
	flex-direction: column;
}

.dog-name,
.city {
	font-size: 20px;
}

.dog-name,
.locate,
.waiting {
	padding-top: 10px;
	margin-bottom: 0px;	
}

.date,
.locate {
	font-size: 15px;
}

.date,
.city,
.days {
	margin-top:3px;
}

.date {
	color: dimgray;
}

.days {
	font-size: 30px;

}

.url {
	display: flex;
	align-items: center;
	padding: 10px;
	color: dimgrey;
	background-color: #E8E8E8;
	height: 35px;
	margin-left: 20px;
	margin-right: 20px;
}

.name,
.location,
.days-waiting  {
	margin-left: 18px;
}


